:root {
    /* FONTS */
    --primaryFont: 'Red Hat Display', sans-serif;

    /* PRIMARY */
    --PaleBlue: hsl(225, 100%, 94%);
    --BrightBlue: hsl(245, 75%, 52%);
    /* NEUTRAL */
    --VeryPaleBlue: hsl(225, 100%, 98%);
    --DesaturatedBlue: hsl(224, 23%, 55%);
    --DarkBlue: hsl(223, 47%, 23%);
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    margin: 0;
    font-family: var(--primaryFont);
    font-size: 1.6rem;
    padding: 2rem;
}
*, *::before, *::after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
}
img {
    max-inline-size: 100%;
    display: block;
}
/* UTILITIES */
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.center-text{
    text-align: center;
}
.border-radius {
    border-radius: 2rem;
}
.center-item {
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: var(--PaleBlue);
    background-image: url(/images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
@media (min-width: 375px) {
    .center-item{
        background-color: var(--PaleBlue);
        background-image: url(/images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
    }
}
/* MAIN */
.card {
    display: flex;
    background-color: white;
    flex-direction: column;
    min-inline-size: 36rem;
    max-inline-size: 45rem;
    max-block-size: 100vh;
}
@media (min-width: 392px) {
    .card {
        min-block-size: 70rem;

    }
}
.card__info {
    padding: 3rem;
}
.card__img img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.card__title h1 {
    font-weight: 900;
    margin-top: 0.5rem;
    color: var(--DarkBlue);
}
.card__pg {
    line-height: 2.5rem;
    padding: 2rem;
    color: var(--DesaturatedBlue);
}
.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(225, 100%, 94%, 0.4);
}
.card__item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__item--info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1.5rem;
}
.card__item--plan {
    font-weight: 900;
    color: var(--DarkBlue);
}
.card__item--price {
    color: var(--DesaturatedBlue);
}
.card__change {
    color: var(--BrightBlue);
    text-decoration: underline;
    cursor: pointer;
}
.card__change:hover {
    color: hsl(245, 75%, 52%, 0.5);
}
.card__btn {
    margin: 3.5rem 0rem 3rem 0rem;
    cursor: pointer;
    font-weight: 700;
    border: none;
    border-radius: 1.2rem;
    padding: 1.8rem;
    width: 100%;
    background-color: var(--BrightBlue);
    color: var(--VeryPaleBlue);
    box-shadow: 0px 9px 19px 1px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 9px 19px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 9px 19px 1px rgba(0,0,0,0.25);
}
.card__btn:hover {
    background-color: hsl(245, 75%, 52%, 0.5);
}
.card__cancel {
    cursor: pointer;
    color: var(--DesaturatedBlue);
    font-weight: 700;
    padding: 1rem;
}
.card__cancel:hover {
    color: var(--DarkBlue);
}
